<template>
    <section class="hero is-primary is-bold">
        <div class="container">
            <br>
            <h1 class="title">Europa</h1>
            <listar v-bind:CitiesList="this.Europa"></listar>
            <hr style="border-top: 3px solid #000000;" >
        </div>
        <div class="container">
            <br>
            <h1 class="title">Asia</h1>
            <listar v-bind:CitiesList="this.Asia"></listar>
            <hr style="border-top: 3px solid #000000;" >
        </div>
        <div class="container">
            <br>
            <h1 class="title">America</h1>
            <listar v-bind:CitiesList="this.America"></listar>
            <hr style="border-top: 3px solid #000000;" >
        </div>
    </section>
</template>

<script>
    import Listar from "././listar";
    export default {
        name: "Event",
        components: {Listar},
        data: function() {
            return {
                Europa: [
                    "Barcelona",
                    "Lleida",
                    "Zaragoza",
                    "Sevilla",
                    "Madrid",
                    "Vigo",
                    "Paris",
                    "Amsterdam",
                ],
                Asia: [
                    "Pekin",
                    "Tokyo",
                    "Hong Kong",
                    "Shangai",
                    "Hanoi"
                ],
                America: [
                    "New York",
                    "Buenos Aires",
                    "Lima",
                    "Los Angeles",
                    "Bogota"
                ]
            }
        },

    }

</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>