<template>
    <div class="columns is-multiline is-mobile">
        <div v-if="ActualCity != null" class="column">
            <p style="font-size: 18px;">ID City: {{ this.ActualCity.resultsPage.results.location[0].metroArea.id}}</p>
            <p style="font-size: 18px;">Current Date: {{this.dataActual}}</p>
            <label v-for="eventos in ActualCityId.resultsPage.results.event" v-bind:value="eventos" v-bind:key="eventos.id" class="custom-checkbox">
                <input :id=eventos.id v-on:click="eventFavor(eventos.id)" :value=eventos.displayName type="checkbox"/>
                <i class="glyphicon glyphicon-star-empty"></i>
                <i class="glyphicon glyphicon-star"></i>
                <p>{{ eventos.displayName }}</p>
            </label>
        </div>
    </div>
</template>

<script>
    import * as moment from "moment";
    import {store} from "../../store/store.js";

    export default {
        name: "Musica",
        props:['city'],
        data: function () {
            return {
                ActualCity: null,
                ActualCityId: null,
            }
        },
        methods: {
            async call(City) {
                var url = 'https://api.songkick.com/api/3.0/search/locations.json?query=' + City + '&apikey=Cglf2H7c7d4KPMO1';
                var response = await fetch(url);
                this.ActualCity = await response.json();

                var f = new Date();
                this.dataActual = moment(f).format('YYYY-MM-DD');
                var url2 = 'https://api.songkick.com/api/3.0/metro_areas/' + this.ActualCity.resultsPage.results.location[0].metroArea.id + '/calendar.json?apikey=Cglf2H7c7d4KPMO1&min_date=' + this.dataActual + '&max_date=' + this.dataActual;


                var response2 = await fetch(url2);
                this.ActualCityId = await response2.json();
            },
            eventFavor: function (eventId) {
                document.getElementById(eventId).setAttribute("disabled", "disabled");
                var name = document.getElementById(eventId).value;
                var city = this.ActualCity.resultsPage.results.location[0].city.displayName;
                store.setFavor(eventId, name, city);
            }
        },
        created: function () {
            this.call(this.city);
        },
        watch: {
            city: function (value) {
                this.call(value);
            }
        }
    };
</script>

<style scoped>
    label {
        /* Presentation */
        font-size: 18px;
        font-weight: normal;
    }

    /* Required Styling */

    label input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {
        margin-left: 2em;
        position: relative;
        cursor: pointer;
    }

    .custom-checkbox .glyphicon {
        color: gold;
        position: absolute;
        top: 0.4em;
        left: -1.25em;
        font-size: 0.75em;
    }

    .custom-checkbox .glyphicon-star-empty {
        color: gray;
    }

    .custom-checkbox .glyphicon-star {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .custom-checkbox:hover .glyphicon-star{
        opacity: 0.5;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
        opacity: 1;
    }
</style>