<template>
    <div >
        <div class="control has-icons-left">
            <div class="select">
                <select v-model="CitySelecionad">
                    <option v-for="cs in CitiesList" v-bind:value="cs" v-bind:key="cs">{{ cs }}</option>
                </select>
            </div>
            <span class="icon is-left">
                <i class="fas fa-globe"></i>
            </span>
        </div>
        <br>
        <Time v-bind:city="CitySelecionad"></Time>
    </div>
</template>

<script>
    import Time from "././Time";

    export default {
        name: "ShowTime",
        props: ['CitiesList'],

        data: function () {
            return {
                CitySelecionad: ""
            }
        },

        created: function () {
            this.CitySelecionad = this.CitiesList[0];
        },

        components: {
            Time
        }
    }
</script>

<style scoped>

</style>