<template>
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-quarter">
            <h4>Today</h4>
            <p> Temperature: {{this.ActualCity.list[0].main.temp}}º </p>
            <p style="text-transform: capitalize;">
                Weather: {{this.ActualCity.list[0].weather[0].description}}
                <br> <img :src="Icon1">
            </p>
        </div>
        <div class="column">
            <div class="columns is-desktop">
                <div class="column">
                    <h4>{{this.ActualCity.list[7].dt_txt}}</h4>
                    <p> Temperature: {{this.ActualCity.list[7].main.temp}}º </p>
                    <p style="text-transform: capitalize;">
                        Weather: {{this.ActualCity.list[7].weather[0].description}}
                        <br> <img :src="Icon2">
                    </p>
                </div>

                <div class="column">
                    <h4>{{this.ActualCity.list[15].dt_txt}}</h4>
                    <p> Temperature: {{this.ActualCity.list[15].main.temp}}º </p>
                    <p style="text-transform: capitalize;">
                        Weather: {{this.ActualCity.list[15].weather[0].description}}
                        <br> <img :src="Icon3">
                    </p>
                </div>

                <div class="column">
                    <h4>{{this.ActualCity.list[23].dt_txt}}</h4>
                    <p> Temperature: {{this.ActualCity.list[23].main.temp}}º </p>
                    <p style="text-transform: capitalize;">
                        Weather: {{this.ActualCity.list[23].weather[0].description}}
                        <br> <img :src="Icon4">
                    </p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        props:['city'],
        data: function () {
            return {
                ActualCity: null
            }
        },
        methods: {
            async call(City) {
                var url = 'https://api.openweathermap.org/data/2.5/forecast?q=' + City + '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90';

                try {
                    var response = await fetch(url);
                    this.ActualCity = await response.json();

                    this.Icon1 = "http://openweathermap.org/img/w/" + this.ActualCity.list[0].weather[0].icon + ".png";
                    this.Icon2 = "http://openweathermap.org/img/w/" + this.ActualCity.list[7].weather[0].icon + ".png";
                    this.Icon3 = "http://openweathermap.org/img/w/" + this.ActualCity.list[15].weather[0].icon + ".png";
                    this.Icon4 = "http://openweathermap.org/img/w/" + this.ActualCity.list[23].weather[0].icon + ".png";
                }
                catch(err) {
                    this.console.log(err);
                }
            }
        },

        created: function () {
            this.call(this.city);
        },
        watch: {
            city: function(value){
                this.call(value);
            }
        }
    };
</script>

<style></style>