<template>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Europa</h1>
                <ShowTime v-bind:CitiesList="this.Europa"></ShowTime>
                <hr style="border-top: 3px solid #000000;" >
            </div>
            <div class="container">
                <h1 class="title">Asia</h1>
                <ShowTime v-bind:CitiesList="this.Asia"></ShowTime>
                <hr style="border-top: 3px solid #000000;" >
            </div>
            <div class="container">
                <h1 class="title">America</h1>
                <ShowTime v-bind:CitiesList="this.America"></ShowTime>
            </div>
        </div>
    </section>
</template>

<script>
    import ShowTime from '././ShowTime.vue';

    export default {
        name: "Weather",
        data: function() {
            return {
                Europa: [
                    "Barcelona",
                    "Lleida",
                    "Zaragoza",
                    "Sevilla",
                    "Madrid",
                    "Vigo",
                    "Paris",
                    "Amsterdam",
                ],
                Asia: [
                    "Pekin",
                    "Tokyo",
                    "Hong Kong",
                    "Shangai",
                    "Hanoi"
                ],
                America: [
                    "New York",
                    "Buenos Aires",
                    "Lima",
                    "Los Angeles",
                    "Bogota"
                ]
            }
        },
        components: {
            ShowTime,
        }
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
