<template xmlns:V-bind="http://www.w3.org/1999/xhtml">
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <h1>Favorites</h1>
            <div v-if="eventsList.length !==0" >
                <table>
                    <tr>
                        <th>City</th>
                        <th>Name</th>
                        <th>Remove</th>
                    </tr>
                    <tr v-for="event in eventsList" v-bind:key="event.eventId">
                        <td>{{event.city}}</td>
                        <td>{{event.name}}</td>
                        <td><button :id="event.eventId" v-on:click="remove(event.eventId)" class="button is-danger">Remove</button></td>
                    </tr>
                </table>
            </div>
            <div v-else></div>
        </div>
    </div>
</template>

<script>
    import {store} from "../store/store.js"
    export default {
        name: "Favorites",

        data: function () {
            return {
                eventsList: store.getFavorList()
            }
        },
        methods: {
            remove: function (eventId) {
                document.getElementById(eventId).remove();
                store.setFavorRemove(eventId);
            },
            edit(eventId){
                this.$router.push('Favorites/' + eventId + '/Edit');
            }
        }
    }
</script>

<style scoped>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>