<template>
    <div>
        <div class="container">
            <h3 class="subtitle is-3">Home</h3>
        </div>
        <br>
        <p><strong>On this page we have the latest events...</strong></p>
        <p><strong>And you can also see the time of each city...</strong></p>
        <br>
        <div align="center">
            <img style="width: 400px;" src="../assets/Event.jpg">&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="width: 313px;" src="../assets/Tiempo.jpg">
        </div>
        <br>
        <div align="center">
            <img style="width: 400px;" src="../assets/Tiempo2.jpg">
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
    }
</script>

<style scoped>
</style>