<template>
    <nav class="navbar is-full is-info" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <router-link to="/" class="navbar-item" active-class="is-active" exact>Home</router-link>
                <router-link to="/Weather" class="navbar-item" active-class="is-active">Weather</router-link>
                <router-link to="/Event" class="navbar-item" active-class="is-active">Event</router-link>
                <router-link to="/Favorites" class="navbar-item" active-class="is-active">Favorites</router-link>

            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Menu"
    }
</script>

<style scoped>
</style>