<template>
  <div id="app">
    <appMenu></appMenu>
    <router-view></router-view>
  </div>
</template>

<script>
    import Menu from './components/Menu.vue';
    export default {
        name: 'app',
        components: {
            appMenu: Menu,
        }
    }
</script>

<style>
  #app {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
  }
</style>
